<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">RailsPress</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "Home", root_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "About", '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Support", '#' %></li>
          <li class="divider-vertical"></li>
        </ul>
          <ul class="nav pull-right"> 

			<li class="divider"></li>
			<li><%= link_to "Add New Post", new_post_path %></li>
         	 </ul>
      		 </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->